:root {
  --main-dark-color: #333;
  --main-white-color: #fff;
  --accent-color: #28a745;
  --accent-blue-color: #0284d0;
  --form-placeholder-color: #808080;
  --form-background-color: #f4f4f4;
  --input-border-color: #f5f5f5;
}
