<section class="contact section" id="contact">
  <div class="container">
    <picture class="contact__picture">
      <source
        srcset="./images/home/contact.webp 1x, ./images/home/contact@2x.webp 2x"
        type="image/webp"
      />
      <source
        srcset="./images/home/contact.jpg 1x, ./images/home/contact@2x.jpg 2x"
        type="image/jpeg"
      />
      <img src="./images/home/contact.jpg" alt="A team member is working on a laptop" />
    </picture>

    <div class="form__wrapper">
      <h2 class="form__title">Request Callback</h2>
      <form
        name="requestCallback"
        method="POST"
        data-netlify="true"
        class="form"
        autocomplete="off"
      >
        <div class="form__input-wrap form__input-wrap--name">
          <input
            type="text"
            name="name"
            class="form__input form__input--name"
            placeholder="Enter your name"
            id="name"
          />
          <label for="name" class="form__label">Enter your name</label>
        </div>
        <div class="form__input-wrap form__input-wrap--email">
          <input
            id="email"
            type="email"
            name="email"
            class="form__input"
            placeholder="Enter email*"
          />
          <label for="email" class="form__label">Enter email*</label>
        </div>
        <button type="submit" class="form__btn">Send</button>
      </form>
    </div>
  </div>
</section>
