<header class="header">
  <nav class="nav">
    <div class="container">
      <a href="/" class="logo">
        <svg class="logo__icon" width="39" height="31">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
        <span class="logo--accent">Finance</span>&nbspLedger
      </a>

      <ul class="nav__list">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="#cases" class="nav__link">Cases</a></li>
        <li class="nav__item"><a href="#blog" class="nav__link">Blog</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
      </ul>
    </div>
  </nav>

  <section class="hero">
    <div class="container">
      <h1 class="hero__title">The Sky Is The Limit</h1>
      <p class="hero__description">We provide world class financial assistance</p>
      <button type="button" class="hero__btn btn">
        <svg class="hero__btn--icon" width="7" height="11">
          <use href="./images/icons.svg#icon-arrow"></use></svg
        >Read More
      </button>
    </div>
  </section>
  <div class="overlay"></div>
</header>
