.header {
  position: relative;
  height: 533px;
  min-width: 320px;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url(../images/home/showcase.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/home/showcase@2x.jpg);
  }

  background-image: image-set(
    url('../images/home/showcase@2x.webp') type('image/webp') 2x,
    url('../images/home/showcase.webp') type('image/webp') 1x,
    url('../images/home/showcase@2x.jpg') 2x,
    url('../images/home/showcase.jpg') 1x
  );

  @media screen and (min-width: 768px) {
    height: 1024px;
  }

  @media screen and (min-width: 1360px) {
    height: 768px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 22px;

  @media screen and (min-width: 768px) {
    top: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  @media screen and (min-width: 768px) {
    top: 21px;
  }

  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  line-height: 1.36;
  transform: scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--accent {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    font-size: 35px;
    line-height: 1.37;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.logo__icon {
  margin-right: 8px;

  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }

  @media screen and (min-width: 1360px) {
    margin-right: 4px;
  }
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 12px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1360px) {
    &:not(:last-child) {
      margin-right: 48px;
    }
  }
}

.nav__link {
  &:after {
    position: absolute;
    display: block;
    content: '';
    height: 3px;
    width: 0%;
    left: 50%;
    background-color: var(--accent-color);
    transition: width 250ms ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::after,
  &:focus::after {
    width: 100%;
  }
}

.hero {
  position: relative;
  z-index: 2;
  padding-top: 160px;
  padding-bottom: 104px;

  @media screen and (min-width: 768px) {
    padding-top: 378px;
    padding-bottom: 378px;
  }

  @media screen and (min-width: 1360px) {
    padding-top: 272px;
    padding-bottom: 270px;
  }
}

.hero__title {
  margin: 0 auto 16px;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;

  @media screen and (max-width: 767px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 768px) {
    font-size: 55px;
    line-height: 1.36;
  }
}

.hero__description {
  margin-bottom: 24px;
  font-size: 26px;
  line-height: 1.23;
  text-align: center;

  @media screen and (min-width: 768px) and (max-width: 1359px) {
    width: 523px;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1360px) {
    line-height: 1.35;
  }
}

.hero__btn {
  width: 175px;
  height: 57px;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
  background-color: var(--accent-color);
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--icon {
    margin-right: 9px;
  }

  &:hover,
  &:focus {
    background-color: #2ebf4f;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: auto;
  z-index: 50;
  max-width: 1360px;
  opacity: 0.8;
  background-color: var(--main-dark-color);
  animation: scroll 250ms ease-in-out;
}

@keyframes scroll {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
